@charset "UTF-8";
/**
 * 
 * @authors Lewis Tian (chtian@hust.edu.cn)
 * @date    2018-11-09 09:48:09
 */

body {
    margin: 0;
}

.github{
    position: fixed;
    right: 15px;
    bottom: 0px;
    margin: 0px;
    padding: 15px;
    z-index: 999999;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.github iframe{
    margin: 0px;
    padding-bottom: 10px;
}

.github .me{
    position: absolute;
    bottom: 5px;
}

.github .me a{
    text-decoration: none;
    color: black;
}

.github .me a:hover{
    font-weight: bold;
    color: rgb(1, 163, 217);
}

.github .visit-count {
    position: absolute;
    bottom: 25px;
}

.bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-position: center center;
}

.bg img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    opacity: 0;
}

.bg img.show {
    opacity: 1;
}

.mask {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.search {
    position: absolute;
    top: 18%;
    left: 50%;
    margin-left:-400px;
    width: 800px;
}

.search .bili-logo{
    margin-left: 200px;
}

.search #kw {
    height: 42px;
    width: 620px;
    font-family: 微软雅黑;
    font-size: 23px;
    text-indent: .2em;
    -moz-box-shadow:1px 1px 5px #333333;
    -webkit-box-shadow:1px 1px 5px #333333;
    box-shadow:1px 1px 5px #333333;
}

.search .search-submit {
    height: 46px;
    font-size: 23px;
    background: #fff;
    border-radius: 5px;
    -moz-box-shadow:1px 1px 5px #333333;
    -webkit-box-shadow:1px 1px 5px #333333;
    box-shadow:1px 1px 5px #333333;
}


.card {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left:-410px;
    padding: 30px;
    width: 650px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.card .card-left{
     float:left;
}

.card .card-right{
    padding-left: 15px;
    float:left;
}

.card .card-right .card-title{
    font-size: 1.17em;
    font-weight: bold;
    padding-bottom: 10px;
    max-width: 450px;
    overflow: hidden;
}

.card .card-right .card-title a{
    text-decoration: none;
    color: black;
}

.card .card-right .card-title a:hover{
    color: rgb(242, 93, 142);
}

.card .card-right .bili-info {
    font-weight: bold;
}

.card .card-right .bili-info a{
    text-decoration: none;
    color: black;
}

.card .card-right .bili-info a:hover{
    color: rgb(242, 93, 142);
}

.card .card-right .bili-info .play-data{
    padding-top: 10px;
}

.card .card-right .bili-info .play-data span{
    padding-right: 15px;
}

.card .card-right .bili-info .play-data span i{
    color: rgb(0, 161, 214);
}

.card .card-bottom {
    padding-top: 10px;
}

.card .card-bottom .danmu{
    font-size: 1.12em;
    font-weight: bold;
}

.card .card-bottom .danmu a{
    color: black;
}

.card .card-bottom .danmu a:hover{
    color: rgb(242, 93, 142);
}

.card .card-bottom .d-link{
    max-width: 600px;
    overflow: hidden;
}

.clear { 
    clear: both;
} 

.player {
    font-family: 微软雅黑;
    width: 300px;
    height: 154px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 20px;
    bottom: 20px;
    background-size: 100% 100%;
    background-position: center center;
    overflow: hidden;
}

.player .logo {
    position: relative;
    width: 100%;
    height: 100%;
}

.player .logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: margin-top 1s;
    -moz-transition: margin-top 1s;
    -webkit-transition: margin-top 1s;
    -o-transition: margin-top 1s;
    margin-top: 100%;
    display: block;
}

.player .logo img.show {
    margin-top: 0px;
}

.player .control {
    position: absolute;
    top: 38%;
    left: 10px;
    font-size: 55px;
    color: #fff;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
}

.player .control:hover{
	text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.player .next {
    position: absolute;
    top: 55%;
    left: 65px;
    font-size: 35px;
    color: #fff;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
}

.player .next:hover{
	text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.player .name {
    position: absolute;
    bottom: 12px;
    left: 5px;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    white-space: nowrap;
    color: #fff;
    cursor: default;
}

.player .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(80, 168, 255, 0.6);
    height: 7px;
    width: 100%;
    cursor: pointer;
}

.player .progress .now {
    transition: width 0.3s;
    -moz-transition: width 0.3s;
    -webkit-transition: width 0.3s;
    -o-transition: width 0.3s;
    background-color: rgba(255, 255, 255, 0.8);
    height: 7px;
    width: 0px;
}

.player .time {
    color: #fff;
    font-size: 28px;
    position: absolute;
    top: 50%;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    cursor: default;
    right: 20px;
}